<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" align="center">Menage !</h1>
        <table align="center">
  
          <!--#############PRENOM######################-->
          <div class="col-sm-8 col-sm-offset-2">
            <form [formGroup]="menageForm" (ngSubmit)="onSubmitForm()" id="form">
              <div class="form-group">
                <label for ="user" ><h2>Prénom</h2></label>
                <input type="text" id="user" class="form-control" formControlName="user">
              </div>
  
              <!--#############DISPO######################-->
              <div class= "form-group">
                <label for="datejour"> <h2>Date et heure</h2></label>
                <p>Jour</p>
              <input type="date" id="datejour" class="form-control" formControlName="datejour" [min]="this.date" >
              <label for="dateheure">Heure</label>
                <input type="time" id="dateheure" class="form-control" formControlName="dateheure" >
                
              </div>
              
              
              <div class="input-group mb-3">
                <label for="surface"><h2>Quel est la surface de l'endroit qu'il faut nettoyer ?</h2></label>
                <input type="text" id="surface" class="form-control" formControlName="surface">
                <div class="input-group-append"><span class="input-group-text">m²</span></div>
              </div>

              <div class="form-group">
                <label for ="salle" ><h2>Quel salle necesite d'etre nettoyer </h2></label>
                <input type="text" id="salle"  class="form-control" formControlName="salle" >
              </div>

              <label for ="ou" ><h2>Ou se ferra le service ? </h2></label>
              <div class="col-sm-8 col-sm-offset-2">
              <div class="form-group">
                <table width="100%" border="1" cellspacing="1" cellpadding="5">
                  <tr>
                  
                  <td> <div *ngIf="add===false  ">
                    <button  type="button" id = "location-button"  (click)= "add=true;loca=false" class="btn btn-secondary" >Avec votre adress</button>
                  </div>
                  <div *ngIf="add===true && loca ===false ">
                    <label for ="city" ><h3>Ville</h3></label>
                <input type="text" id="city" class="form-control" formControlName="city">
                <label for ="adress" ><h3>Adresse</h3></label>
                <input type="text" id="adress" class="form-control" formControlName="adress">
                  </div>
                  
                  </td>
                  <td>
                    <div *ngIf="loca ===false ">
                      <button  type="button" id = "location-button"  (click)= "loca=true; add=false" class="btn btn-secondary" >Avec votre geolocalisation</button>
                    </div>
                    <div *ngIf="add===false && loca ===true ">
                      <label for ="location" ><h3>Votre localisation</h3></label>
                  <button  type="button" id = "location-button"  (click)= "getLocation()" class="btn btn-secondary" >Appuyer</button>
                      <p> Vous etes en {{this.info.latitude}} -- {{this.info.longitude}}</p>
                  
                    </div>
                  </td>
                  
                  </tr>
                  <td></td>
                  <td>
                    <div *ngIf="map"> <app-mini-map [latitude]="this.info.latitude" [longitude]="this.info.longitude" ></app-mini-map></div>
                  </td>
            
                  </table>
              
                
                
                  
                
              </div>
              </div>


              <!--#############LISTE DE MATERIEL######################-->
            <div class= "form-group">
                <label for="liste"><h2>Liste du materiel qui est a votre disposition</h2></label>
  
                <form (ngSubmit)="ajouterListe(liste)" #liste="ngForm">
                  <table>
                    <tr>
                      <td>Materiel</td>
                    </tr>
                    <tr>
                      <td><input type="text" id="liste" name="liste_materiel" ngModel></td>
                      <td><button  class="btn btn-secondary">Ajouter</button></td>
                    </tr>
                    <tr>
                      <ul class="list-group">
                          <div *ngFor="let element of this.liste_materiel">
                            <table cellpadding="10">
                              <tr>
                                <td>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{element}}
                                  </li>
                                </td>
                                <td><span style="cursor:pointer" class="badge badge-danger badge-pill" (click)="supprimeElem(element)">
                                  -</span></td>
                              </tr>
                            </table>
                          </div>
                      </ul>
                    </tr>
                  </table>
                </form>
              </div>







              <div class="form group">
                <label for ="description"> <h2>Veuillez indiquer un petit texte qui aidera a mieux coller a vos attentes.</h2></label>
                <!--<input type="text" id="description" class="form-control" formControlName="description"> -->
                <textarea class="form-control" aria-label="With textarea" id="description" class="form-control"
                        formControlName="description"></textarea>
              </div>
              <br>
  
              <button type="submit" class="btn btn-primary"  >Soumettre</button>
            </form>
  
          </div>
  
  
        </table>
    </div>


  
  
  

