<div id="modal-hist-wrapper">
  <header id="modal-hist-header">
    <table cellpadding="10">
      <tr>
        <td>
    <button class="btn btn-primary" (click)="setFor()">Pour vous</button>
        </td>
        <td>
    <button class="btn btn-primary" (click)="setBy()">Par vous</button>
        </td>
      </tr>
    </table>
  </header>

  <section>
    <div id="for-wrapper" *ngIf="showFor && (history_for.length > 0)">
      <app-former-service [helperLook]="false"
                          [pour]="myName"
                          [par]="this.history_for[index_for].content.user"
                          [imgSrc]="history_for[index_for].content.image"
                          [note]="review.note"
                          [commentaire]="review.comment"
                          [date]="this.history_for[index_for].content.datejour">
      </app-former-service>
    </div>
    <div id="by-wrapper" *ngIf="showBy && (history_by.length > 0)">
        <app-former-service [helperLook]="true"
                            [pour]="this.history_by[index_by].content.user"
                            [par]="myName"
                            [imgSrc]="history_by[index_by].content.image"
                            [note]="review.note"
                            [commentaire]="review.comment"
                            [date]="this.history_by[index_by].content.datejour">
        </app-former-service>
    </div>
  </section>
  <footer id="modal-hist-footer">
    <table cellpadding="10" width="1000px">
      <tr>
        <td align="left">
          <button class="btn btn-primary" (click)="decIndex(); getReview()">Précédent</button>
        </td>
        <td align="right">
          <button class="btn btn-primary" (click)="incIndex(); getReview()">Suivant</button>
        </td>
      </tr>
    </table>
  </footer>
</div>
<!--   A voir
<ngb-carousel #carousel [interval]="1000">
  <ng-template ngbSlide >

    <div id="for-wrapper" *ngIf="showFor">
      <app-former-service [helperLook]="false"
                          [pour]="this.history_for[index_for].pour"
                          [par]="this.history_for[index_for].par"
                          [categorie]="this.history_for[index_for].categorie"
                          [note]="this.history_for[index_for].note"
                          [commentaire]="this.history_for[index_for].commentaire"
                          [date]="this.history_for[index_for].date">
      </app-former-service>
    </div>

    <div id="by-wrapper" *ngIf="showBy">
      <app-former-service [helperLook]="true"
                          [pour]="this.history_by[index_by].pour"
                          [par]="this.history_by[index_by].par"
                          [categorie]="this.history_by[index_by].categorie"
                          [note]="this.history_by[index_by].note"
                          [commentaire]="this.history_by[index_by].commentaire"
                          [date]="this.history_by[index_by].date">
      </app-former-service>
    </div>

  </ng-template>
</ngb-carousel>
-->
