#modal-hist-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
}

#modal-hist-header {
  font-size: 22px;
  justify-self: center;
}

#modal-hist-footer {
  justify-self: center;
  align-self: center;
}
