#refused{
  background-color: #ffc3c3;
}

#accepted{
  background-color: #b6ffb8;
}

#basic{
  background-color: #ffffff;
}

#enCours{
  background-color: #ffdda4;
}

#icone-mail{
  width: 40px;
  cursor: pointer;
}
