<div id="jumb" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" align="center">Se faire accompagne</h1>
        <table align="center">

          <!--#############PRENOM######################-->
          <div class="col-sm-8 col-sm-offset-2">
            <form [formGroup]="accompagneForm" (ngSubmit)="onSubmitForm()" id="form">
              <div class="form-group">
                <label for ="user" ><h2>Prénom</h2></label>
                <input type="text" id="user" class="form-control" formControlName="user">
              </div>

              <div class= "form-group">
                <label for="kind"><h2>S'agit-il d'un accompagnement ponctuel ou regulier ? </h2></label>
                <select id="kind" class="form-control" formControlName="kind">
                  <option value="ponctuel">Ponctuel</option>
                  <option value="regulier">Regulier si c' est possible</option>
                </select>
              </div>

              <!--#############DISPO######################-->
              <div class= "form-group">
                <label for="quand"> <h2>Sur quelle plage horaire cela se passerait-il ? </h2></label>
                <label for="quand1">Debut</label>
                <input type="time" id="quand1" class="form-control" formControlName="quand1" >
                <label for="quand2">Fin</label>
                <input type="time" id="quand2" class="form-control" formControlName="quand2" >
              </div>

              <div class= "form-group">
                <p>Quel jour ?</p>
              <input type="date" id="datejour" class="form-control" formControlName="datejour" [min]="this.date" >
              </div>

              <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                <label for ="local" ><h2>Ou shouaitez vous que l'on vous accompagne ?</h2></label>
              
              
               
                <label for ="ou" ><h2>Ou se ferra le service ? </h2></label>
              
                <table width="100%" border="1" cellspacing="1" cellpadding="5">
                  <tr>
                  
                  <td> <div *ngIf="add===false  ">
                    <button  type="button" id = "location-button"  (click)= "add=true;loca=false" class="btn btn-secondary" >Avec votre adress</button>
                  </div>
                  <div *ngIf="add===true && loca ===false ">
                    <label for ="city" ><h3>Ville</h3></label>
                <input type="text" id="city" class="form-control" formControlName="city">
                <label for ="adress" ><h3>Adresse</h3></label>
                <input type="text" id="adress" class="form-control" formControlName="adress">
                  </div>
                  
                  </td>
                  <td>
                    <span class="badge badge-secondary">OU</span>
                  </td>
                  <td>
                    <div *ngIf="loca ===false ">
                      <button  type="button" id = "location-button"  (click)= "loca=true; add=false" class="btn btn-secondary" >Avec votre geolocalisation</button>
                    </div>
                    <div *ngIf="add===false && loca ===true ">
                      <label for ="location" ><h3>Votre localisation</h3></label>
                  <button  type="button" id = "location-button"  (click)= "getLocation()" class="btn btn-secondary" >Appuyer</button>

                  
                    </div>
                  </td>
                  
                  
                  </tr>
                  <td></td>
                  <td></td>
                  <td>
                    <div *ngIf="map"> <app-mini-map [latitude]="this.info.latitude" [longitude]="this.info.longitude" ></app-mini-map></div>
                  </td>
            
                  </table>
              
                
                
                  
                
              
                  
                
              </div>
              </div>
      

              <div class="form group">
                <label for ="description"> <h2>Veuillez indiquer un petit texte qui aidera a mieux coller a vos attentes.</h2></label>
                <!--<input type="text" id="description" class="form-control" formControlName="description"> -->
                <textarea class="form-control" aria-label="With textarea" id="description" class="form-control" formControlName="description"></textarea>
              </div>
              <br>

              <button type="submit" class="btn btn-primary">Soumettre</button>
            </form>

          </div>


        </table>
    </div>
  </div>


