
<div class="card mb-3 rounded-lg rounded-lg" style="width:100%;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img [src]="serviceImage"  class="card-img-top" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="text-left">
          <h2 class="card-title">{{serviceName}} pour {{serviceUser}}</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-md-2">
            <div class="text-left">
            </div>
          </div>
          <div class="col-md-10">
            <div class="text-right">
              <table>
                <tr>
                  <td><a href="#" class="btn btn-primary" [routerLink]="[id]" >Propositions</a></td>
                  <td><a href="#" class="btn btn-primary" [routerLink]="[id]" >Voir l'annonce</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
