:host-context(.theme-dark) #card{
  background-color: #d2d2d2;

}

#delete{
  font-size: larger;
  color: #aaaaaa;
  position: absolute;
  left: 640px;
  top: 5px;
  cursor: pointer;
}

#icone-mail{
  width: 15px;
  cursor: pointer;
}

#profil_icone{
  width: 30px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
