
<div class="card mb-3 rounded-lg rounded-lg" style="width:100%;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img [src]="serviceImage"  class="card-img-top" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="text-left">
          <h2 class="card-title">{{serviceName}} pour {{serviceUser}}</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-md-2">
            <div class="text-left">
            </div>
          </div>
          <div class="col-md-10">
            <div class="text-right">
              <table>
                <tr>
                  <td><button class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
                              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                    Propositions</button></td>
                  <td><button class="btn btn-primary" (click)="router.navigate(['propose/'+id])" >
                    Voir l'annonce</button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <span *ngIf="noHelper">
      <p style="font-size: large">Aucune ne s'est encore proposée pour réaliser ce service.</p>
    </span>
    <span>
      <mat-toolbar color="#ffffff" *ngIf="helpers.length > 0"> <!-- color ne marche pas-->
      <mat-toolbar-row *ngFor="let helper of helpers">
        <span>{{helper.firstName}} {{helper.lastName}} vous a proposé son aide.</span>
        <span class="spacer"></span>
        <mat-icon title="Voir le profil" class="icon" (click)="router.navigate(['profil/'+helper.idUser])">face</mat-icon>
        <!--<mat-icon [routerLink]=""> face </mat-icon>-->
        <mat-icon class="icon" *ngIf="this.assignees[0] == 0" (click)="acceptHelper(helper.idUser)"> done </mat-icon>
        <mat-icon class="icon" *ngIf="amIaHelper()"> done </mat-icon>
        <mat-icon class="icon" *ngIf="this.assignees[0] == 0 && !amIaHelper()"> highlight_off </mat-icon>
        <mat-icon class="icon" *ngIf="this.assignees[0] == 1 && !amIaHelper()"> <!-- Si l'annonce est en cours et que je ne suis pas dans les helpers -->
          not_interested
        </mat-icon>
        <mat-icon class="icon" *ngIf="this.id == helper.idUser"> done_all </mat-icon>

      </mat-toolbar-row>
    </mat-toolbar>
    </span>

  </div>
