<div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1 class="display-4" align="center">Faire les courses</h1>
  <table align="center">

    <div class="col-sm-8 col-sm-offset-2">

      <!--#############PRENOM######################-->
      <form [formGroup]="coursesForm" (ngSubmit)="onSubmitForm()" id="form">

        <div class="jumbotron" id="formulaire">

          <div class="form-group">
            <label for="user"><h2>Prénom</h2></label>
            <input type="text" id="user" class="form-control" formControlName="user">
          </div>

        </div>

        <!--#############DATE######################-->
        <div class="form-group">
          <div class="jumbotron" id="formulaire">
            <div class="form-group">
              <label for="datejour"><h2>Selectionnez une Date et une Heure</h2>
              </label>
              <p>Jour</p>
              <input type="date" id="datejour" class="form-control" formControlName="datejour" [min]="this.date" >
              <p>Heure</p>
                <input type="time" id="dateheure" class="form-control" formControlName="dateheure" >
              
            </div>

          </div>
          <!--#############ACCOMPAGNE######################-->
          <div class="jumbotron" id="formulaire">
            <div class="form-group">
              <label for="accompagne"><h2>Souhaitez vous que l'on vous accompagne ?</h2></label>
              <select id="accompagne" class="form-control" formControlName="accompagne">
                <option value="Oui">Oui !</option>
                <option value="Non">Non !</option>
              </select>
            </div>
          </div>


          <!--#############BUDGET######################-->
          <div class="jumbotron" id="formulaire">
            <div class="input-group mb-3">
              <label for="budget"><h2>Quel est le montant de votre budget ?</h2></label>
              
              <span class="input-group-text">€</span>
              <input type="text" id="budget" class="form-control" formControlName="budget">
              <span class="input-group-text">,00</span>
            </div>
          </div>


          <!--#############LISTE DE COURSES######################-->
          <div class="jumbotron" id="formulaire">
            <div class="form-group">
              <label for="liste"><h2>Ajoutez un élément à la liste de course</h2></label>

              <form (ngSubmit)="ajouterListe(liste)" #liste="ngForm">
                <table>
                  <tr>
                    <td>Produit</td>
                    <td>Quantité</td>
                  </tr>
                  <tr>
                    <td><input type="text" id="liste" name="liste_produit" class="form-control" ngModel></td>
                    <td><input type="text" id="liste_quantite" name="liste_quantite" class="form-control" ngModel></td>
                    <td>
                      <button type="submit" class="btn btn-secondary">Ajouter</button>
                    </td>
                  </tr>
                  <tr>
                    <ul class="list-group">
                      <div *ngFor="let element of this.liste_courses">
                        <table cellpadding="10">
                          <tr>
                            <td>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{element.produit}}
                                <span class="badge badge-primary">{{element.quantite}}</span>
                              </li>
                            </td>
                            <td><span style="cursor:pointer" class="badge badge-danger badge-pill"
                                      (click)="supprimeElem(element.produit, element.quantite)">
                                  -</span></td>
                          </tr>
                        </table>
                      </div>
                    </ul>
                  </tr>
                </table>
              </form>
            </div>
          </div>
          <label for ="ou" ><h2>Ou se ferra le service ? </h2></label>
              <div class="col-sm-8 col-sm-offset-2">
              <div class="form-group">
                <table width="100%" border="1" cellspacing="1" cellpadding="5">
                  <tr>
                  
                  <td> <div *ngIf="add===false  ">
                    <button  type="button" id = "location-button"  (click)= "add=true;loca=false" class="btn btn-secondary" >Avec votre adress</button>
                  </div>
                  <div *ngIf="add===true && loca ===false ">
                    <label for ="city" ><h3>Ville</h3></label>
                <input type="text" id="city" class="form-control" formControlName="city">
                <label for ="adress" ><h3>Adresse</h3></label>
                <input type="text" id="adress" class="form-control" formControlName="adress">
                  </div>
                  
                  </td>
                  <td>
                    <span class="badge badge-secondary">OU</span>
                  </td>
                  <td>
                    <div *ngIf="loca ===false ">
                      <button  type="button" id = "location-button"  (click)= "loca=true; add=false" class="btn btn-secondary" >Avec votre geolocalisation</button>
                    </div>
                    <div *ngIf="add===false && loca ===true ">
                      <label for ="location" ><h3>Votre localisation</h3></label>
                  <button  type="button" id = "location-button"  (click)= "getLocation()" class="btn btn-secondary" >Appuyer</button>

                  
                    </div>
                  </td>
                  
                  
                  </tr>
                  <td></td>
                  <td></td>
                  <td>
                    <div *ngIf="map"> <app-mini-map [latitude]="this.info.latitude" [longitude]="this.info.longitude" ></app-mini-map></div>
                  </td>
            
                  </table>
              
                
                
                  
                
              </div>
              </div>

          <!--#############COMMENTAIRES######################-->
          <div class="jumbotron" id="formulaire">
            <div class="form group">
              <label for="description"><h2>Veuillez indiquer un petit texte qui aidera a mieux coller a vos
                attentes.</h2></label>
              <!--<input type="text" id="description" class="form-control" formControlName="description"> -->
              <textarea class="form-control" aria-label="With textarea" id="description" class="form-control"
                        formControlName="description"></textarea>
            </div>
          </div>
          <br>

          <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
      </form>

    </div>


  </table>
</div>
</div>

