#form{
  margin: 0 auto;
}
#formulaire{
   background-color: #ededed;
   box-shadow: 1px 1px 5px #c0c0c0;
 }

 table,
td {
    border: 0px solid #333;
}
:host-context(.theme-dark) #jumb{
  background-color: grey;
}

:host-context(.theme-dark) #liste_items{
  background-color: #9e9c9c;
}
