#services-list
{
  padding-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
#demandeTexte
{
  font-weight: bold;
  font-size: x-large;

}

.mat-select
{
   background-color: cornflowerblue;
 }

.spacer
{
  flex: 1 1 auto;
}


