<p *ngIf="field_non_valid" class="alert alert-danger">L'adresse mail ou le mot de passe est invalide.</p>

<br>
<h2 align="center">Connexion</h2>
<br>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <table align="center" cellpadding="5">
    <tr>
      <td>
        <!--#####MAIL#####-->
        <div class="form-group" [class.has-error]="mail.invalid && mail.touched">
          <label for="mail">
            Adresse mail
          </label>
          <input type="text" id="mail" class="form-control" name="mail" placeholder="name@example.com"
                 #mail="ngModel" email ngModel>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <!--#####PASSWORD#####-->
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" class="btn btn-success" *ngIf="!this.authService.isAuthenticated()">Se connecter</button>
        <button class="btn btn-danger" *ngIf="this.authService.isAuthenticated()"
                (click)="this.authService.removeUserInfo()">Se déconnecter</button>
      </td>
    </tr>
  </table>
</form>
