<div *ngFor="let oneParticipant of participants">
  <div *ngIf="successfullySended[oneParticipant]" class="alert alert-dismissable alert-success">
    <table align="center" width="80%">
      <td width="75%" align="right">
        Votre retour sur {{idToName[oneParticipant]}} a bien été envoyé ! Rendez vous sur votre profil pour voir si le
        retour
        de {{idToName[oneParticipant]}} dès que possible !
      </td>
      <td width="25%" align="right">
        <button class="btn btn-outline-success" routerLink="">Accueil</button>
      </td>
    </table>
  </div>
  <div *ngIf="alreadyRated[oneParticipant]" class="alert alert-dismissable alert-danger">
    <table align="center" cellpadding="30" width="80%">
      <td width="75%" align="right">
        Votre retour sur {{idToName[oneParticipant]}} a déjà été envoyé ! Rendez vous sur votre profil pour voir si le
        retour de {{idToName[oneParticipant]}} dès que possible !
      </td>
      <td width="25%" align="center">
        <button class="btn btn-outline-danger" routerLink="">Accueil</button>
      </td>
    </table>
  </div>
  <div id="infoContainer">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <table align="center">

          <div class="col-sm-8 col-sm-offset-2">

            <form (ngSubmit)="onSubmitReview(f,oneParticipant)" #f="ngForm">
              <div class="pdpIcon"
                   [ngStyle]="{'background-image':'url('+getPdpPath(oneParticipant) +')'}">
              </div>

              <div class="form-group">
                <!-- ##################### Commentaire ####################-->
                <div class="jumbotron" id="formulaire">
                  <label for="comment">Qu'avez vous pensé de {{idToName[oneParticipant]}} ?</label>
                  <input type="text" class="form-control" id="comment" name="comment"
                         ngModel>
                </div>

                <!-- ##################### Note ##################s##-->
                <div class="jumbotron" id="formulaire">
                  <p>Complétez votre retour avec une note !</p>
                  <ngb-rating id="ratingInput" max="5" [(rate)]="rate"></ngb-rating>
                </div>
                <button style="margin-left: 330px" class="btn btn-primary" type="submit"
                        [disabled]="successfullySended[oneParticipant]">Soumettre
                </button>
              </div>
            </form>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>
