#formulaire{
  background-color: #ededed;
  box-shadow: 1px 1px 5px #c0c0c0;
  width: 800px;
  height: auto;
}

#ratingInput
{
  border: 1px solid #c0c0c0;
  border-radius: 5%;
  background-color: white;
  font-size: 200%;
  color: goldenrod;
}

.pdpIcon {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  left: 65%;
  background-size: cover;
  cursor: pointer;
}
