
<h2 align="center">Rendre service</h2>
<br>
<table align = "center" cellpadding="50">
  <tr>
    <td>
      <div class="zoom">
        <div class="icone">
          <img *ngIf="menage" style="cursor:pointer" id="menage_logo" src="../assets/data/menage.png" alt=""
               (click)="menage=true;accompagner=false;cuisine=false;">
          <img *ngIf="!menage" style="cursor:pointer" id="menage_logo1" src="../assets/data/menage1.png" alt=""
               (click)="menage=true;accompagner=false;cuisine=false;">
        </div>
      </div>
    </td>

    <td>
      <div class="zoom">
        <div class="icone">
          <img *ngIf="cuisine" style="cursor:pointer" id="cuisine_logo" src="../assets/data/cuisine.png" alt=""
               (click)="menage=false;accompagner=false;cuisine=true;">
          <img *ngIf="!cuisine" style="cursor:pointer" id="cuisine_logo1" src="../assets/data/cuisine1.png" alt=""
               (click)="menage=false;accompagner=false;cuisine=true;">
        </div>
      </div>
    </td>

    <td>
      <div class="zoom">
        <div class="icone">
          <img *ngIf="accompagner" style="cursor:pointer" id="accompagner_logo" src="../assets/data/accompagner.png" alt=""
               (click)="menage=false;accompagner=true;cuisine=false;">
          <img *ngIf="!accompagner" style="cursor:pointer" id="accompagner_logo1" src="../assets/data/accompagner1.png" alt=""
               (click)="menage=false;accompagner=true;cuisine=false;">
        </div>
      </div>
    </td>
  </tr>
</table>

<div *ngIf="menage" id="menage">

</div>

<div *ngIf="cuisine" id="cuisine">

</div>

<div *ngIf="accompagner" id="accompagner">

</div>


