#logo {
  width: 150px;
}

#accompagner_logo{
  width: 130px;
}
#cuisine_logo{
  width: 130px;
}
#menage_logo{
  width: 130px;
}

#menage_logo1{
  width: 90px;
}

#accompagner_logo1{
  width: 90px;
}
#cuisine_logo1{
  width: 90px;
}
