<h1 class ="text-center"> Les services qui sont actuellement proposes</h1>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <ul class="list-group">
      <app-service *ngFor ="let service of this.services_db,let i =index"
                   [serviceName]="service['name']"
                   [serviceUser]="service['user']"
                   [serviceDescription]="service['description']"
                   [serviceImage]="service['image']"
                   [serviceDate]="service['date']"
                   [index]="i"
                   [id]="service.id">
                  </app-service>
    </ul>
  </div>
</div>

