.list-group{.jumbotron{
  background-image: url("../../assets/data/banniere.jpg");
  background-size: cover;
  min-height: 100px;
  height: 200px;
}
    text-align: center;
}

.jumbotron{
  background-image: url("../../assets/data/banniere.jpg");
  background-size: cover;
  min-height: 100px;
  height: 200px;
}

#logo {
  width: 150px;
}

#accompagner_logo,#cuisine_logo,#menage_logo,#accompagner_logo1,#cuisine_logo1,#menage_logo1{
  width: 130px;
}