.star
{
  max-height: 50px;
  width: auto;
}

#history-serv
{
  text-align: left;
  font-family: Arial;
  width: 500px;
  height: auto;

}

#history-title
{
  font-family: italic;
}

.history-serv:hover
{
  background-color: grey;
}

.all-com-button
{
  font-size: small;
  width: 80px;
  height: auto;
  margin-left: 230px;
}

#last-serv-img
{
  width: 300px;
  height: auto;
}

#history-button
{
  color: white;
  background-color: dodgerblue;
  margin-left: 100px;
}
