<table width="100%" cellpadding="20" border="3px solid">
  <tr>
    <td width="5%">
      <p>Dernier service demandé :</p>
    </td>
  </tr>
  <tr>
    <td>
      <app-former-service *ngIf="last_for > -1"
                          [helperLook]="false"
                          [pour]="myName"
                          [par]="history_for[last_for].content.user"
                          [announceId]="history_for[last_for].idAnnounce"
                          [imgSrc]="history_for[last_for].content.image"
                          [date]="this.history_for[last_for].content.datejour">
      </app-former-service>
    </td>
  </tr>
  <tr>
    <td>
      <p>Dernier service rendu :</p>
    </td>
  </tr>
  <tr>
    <td>
      <app-former-service *ngIf="last_by > -1"
                          [helperLook]="true"
                          [pour]="this.history_by[last_by].content.user"
                          [par]="myName"
                          [announceId]="history_by[last_by].idAnnounce"
                          [imgSrc]="history_by[last_by].content.image"
                          [date]="this.history_by[last_by].content.datejour">
      </app-former-service>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button mat-raised-button id="history-button" (click)="openHistoryModal()">En voir plus</button>
    </td>
  </tr>
</table>
