<table width="70%" cellpadding="10" border="5px solid">
  <tr>
    <td colspan="2" align="center">
      <p>Rating : <img src="../../assets/data/star.png" class="star"> {{getAverageGrade()}}/5</p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <div id="history">
        <h3 id="history-title">Services :</h3>
      </div>
    </td>
    <td align="right">
      <button mat-raised-button id="history-button" (click)="openHistoryModal()">Plus de services</button>
    </td>
  </tr>
  <tr>
    <td align="center">
      Pour vous
    </td>
    <td align="center">
      Par vous
    </td>
  </tr>
  <tr>
    <td>
      <app-former-service [helperLook]="false"
                          [pour]="this.history_for[last_for].pour"
                          [par]="this.history_for[last_for].par"
                          [categorie]="this.history_for[last_for].categorie"
                          [note]="this.history_for[last_for].note"
                          [commentaire]="this.history_for[last_for].commentaire"
                          [date]="this.history_for[last_for].date">
      </app-former-service>
    </td>
    <td>
      <app-former-service [helperLook]="true"
                          [pour]="this.history_by[last_by].pour"
                          [par]="this.history_by[last_by].par"
                          [categorie]="this.history_by[last_by].categorie"
                          [note]="this.history_by[last_by].note"
                          [commentaire]="this.history_by[last_by].commentaire"
                          [date]="this.history_by[last_by].date">
      </app-former-service>
    </td>
  </tr>
</table>
