<table width="100%" cellpadding="20">
  <tr>
    <td width="5%">
      <p style="font-size: large">Dernier service demandé :</p>
    </td>
  </tr>
  <tr>
    <td>
      <app-former-service *ngIf="last_for > -1"
                          [helperLook]="false"
                          [pour]="myName"
                          [par]="history_for[last_for].content.user"
                          [announceId]="history_for[last_for].idAnnounce"
                          [announceAuthorId]="history_for[last_for].idUser"
                          [imgSrc]="history_for[last_for].content.image"
                          [date]="this.history_for[last_for].content.datejour">
      </app-former-service>
      <span style="font-size: medium" *ngIf="last_for<0">Pas encore de services demandés.</span>

    </td>
  </tr>
  <tr>
    <td>
      <p style="font-size: large">Dernier service rendu :</p>
    </td>
  </tr>
  <tr>
    <td>
      <app-former-service *ngIf="last_by > -1"
                          [helperLook]="true"
                          [pour]="this.history_by[last_by].content.user"
                          [par]="myName"
                          [announceId]="history_by[last_by].idAnnounce"
                          [announceAuthorId]="history_by[last_by].idUser"
                          [imgSrc]="history_by[last_by].content.image"
                          [date]="this.history_by[last_by].content.datejour">
      </app-former-service>
      <span style="font-size: medium" *ngIf="last_by<0">Pas encore de services rendus.</span>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left">
      <button mat-raised-button *ngIf="(last_by>0)||(last_for>0)" id="history-button" (click)="openHistoryModal()">En voir plus</button>
    </td>
  </tr>
</table>
