:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumbotron{
  background-image: url("../../assets/data/banniere.jpg");
  background-size: cover;
  min-height: 380px;
  height: 400px;
}

.jumbotron:hover{
  background-image: url("../../assets/data/banniere_flou.jpg");
  background-size: cover;
  min-height: 380px;
  height: 400px;
}

#space{
  height: 200px;
}

#title{
  position: absolute;
  left : 150px;
  top : 180px;
  font-weight: bold;
  font-size: 28px;
}

#who{
  color: #f7f7f7;
  font-weight: bold;
}

#text_demander, #text_rendre{
  font-size: 25px;
}

#button1, #button2{
  width: 270px;
  height: 70px;
}

#description{
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: 165px;
  top: 290px;
  width: 540px;

}



