:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumbotron{
  background-image: url("../../assets/data/banniere1.png");
  background-size: cover;
  min-height: 200px;
  height: 250px;

}

/*
.jumbotron:hover{
  background-image: url("../../assets/data/banniere1.png");
  background-size: cover;
  min-height: 380px;
  height: 400px;
  transition: backround 5s;
}
*/

#space{
  position: absolute;
  top: 1500px;
  height: 200px;
}

#title{
  position: absolute;
  left : 150px;
  top : 180px;
  font-weight: bold;
  font-size: 28px;
}

#who{
  color: #f7f7f7;
  font-weight: bold;
}

#text_demander, #text_rendre{
  font-size: 18px;
}

#button1, #button2{
  width: 200px;
  height: 40px;
}

#description{
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: 165px;
  top: 290px;
  width: 540px;

}

/* INEED C'EST QUOI */
#IneedCQ{

  width: 230px;
}

#pile{
  width: 550px;

}
#sep
{
  width: 1280px;

}
#textIn{
  width: 300px;

}

/*AIDER QLQ */

#tuveux{
  position: absolute;
  top: 1000px;
  right: 100px;
  width: 320px;
}
#jetCourse{
  position: absolute;
  width: 350px;
  top : 1050px;
  left : 250px;
}
#aBesoin{
  position:absolute;
  top: 1400px;
  left: 310px;
  font-size: large;

}
#textTV{
  position: absolute;
  width: 300px;
  top : 1120px;
  right : 100px;
  text-align: right;
}
