<div>
  <app-global-navbar></app-global-navbar>
</div>

<notifier-container></notifier-container>
<div class="{{myTheme}}">
  <router-outlet></router-outlet>
</div>



<!-- TESTING FOR NOTIFICATIONS
<button class="btn btn-primary" (click)="handleRev()"> handle Rev</button>
<button class="btn btn-primary" (click)="buildUp()"> Build Updater</button>
<button class="btn btn-primary" (click)="updateNot()"> Update Not</button>
<button class="btn btn-primary" (click)="uploadTestNotif()">Send notif</button>
<button class="btn btn-primary" (click)="notificationService.sleepWatcher()">Stop checking</button>
<button class="btn btn-primary" (click)="notificationService.wakeWatcher(5000)">Start checking</button>
-->
<!--
<footer>
  <app-footer id="footer"></app-footer>
</footer>
-->
