/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

@import '~angular-notifier/styles.css';

body{
/*  background-position-y: 522px ;
  background-repeat: no-repeat;
  background-image: url("/assets/data/fond.png");*/
  background-image: url("assets/data/inf.png");


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-dialog-container#modal-history-component {
  background-color: #343a40;
}

mat-dialog-container#modal-user-component{
  background-color: #343a40;
}
