/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-dialog-container#modal-history-component {
  background-color: #343a40;
}

mat-dialog-container#modal-user-component{
  background-color: #343a40;
}

.red-snackbar{
  background-color: #ff3352;
  color: white;
}

.blue-snackbar{
  background-color: dodgerblue;
  color: white;
}

.light-mode{
  background-color: #aaaaaa;
}

.dark-mode{
  background-color: #2e2e2e;
  color: white;
}
