<br>

<table align="center">
  <tr>
    <h1 class="display-4" align="center">{{User}} a besoin de toi</h1>
  </tr>
  <tr>
    <button type="button" class="btn btn-dark" routerLink="/profil/other_user">Voir le profil</button>
    <!-- <button type="button" class="btn btn-info" (click)="goProfil()">Voir le profil</button> -->

  </tr>
</table>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <table align="center" cellpadding="20">

      <tr>
        <td><h2>Service : </h2></td>
        <td>Accompagner </td>
      </tr>
      <tr>
        <td><h2>Types d'accompagnement:</h2></td>
        <td>{{Kind}}</td>


      <tr>
        <td><h2>Endroit ou accompagner</h2></td>
        <td>{{Local}}</td>
      </tr>
      <tr>
        <td><h2>Quand ?</h2></td>
        <td>{{Dispo}}</td>
      </tr>
      <tr>
        <td><h2>Plage horaire:</h2></td>
        <td>{{Dispo}}</td>
      </tr>

      <tr>
        <td><h2>Commentaire</h2>{{Description}}</td>
      </tr>
    </table>
  </div>
</div>
