<nav class="navbar navbar-dark bg-dark">
  <img src="../assets/data/logo2.png" alt="ineed" id="logo" routerLink="" style="cursor:pointer">
</nav>

<br>

<h2 align="center">Inscription</h2>

<br>

<table align="center">
  <tr>
    <div class="row">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm"> <!-- #f passe une référence au formulaire (#x) -->
        <div class="form-group">
          <label for="name">
            Nom
          </label>
          <input type="text" id="name" class="form-control" name="name" placeholder="ex: Dupont" ngModel required> <!-- ce champ est requis -->
          <label for="prenom">
            Prénom
          </label>
          <input type="text" id="prenom" class="form-control" name="prenom" placeholder="ex: Jean" ngModel required> <!-- form-control revient à la ligne à chaque champ -->
          <label for="mail">
            Adresse mail
          </label>
          <input type="text" id="mail" class="form-control" name="mail" placeholder="example@example.com" ngModel required>

        </div>

        <div class="form-group">
          <label for="sexe">
            Sexe
          </label>
          <select id="sexe" class="custom-select custom-select-lg mb-3" name="sexe" ngModel required>
            <option value="man">Homme</option>
            <option value="woman">Femme</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input class="form-control" type="password" id="password" name="password" ngModel required>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="CGU" name="cgu" ngModel required>
          <label for="CGU" class="form-check-label">J'accepte les <a routerLink="contact">Conditions Générales d'Utilisation.</a> </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">C'est parti!</button>
      </form>
    </div>
  </tr>
</table>

