:host-context(.theme-dark) body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  background-color: #2e2e2e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host-context(.theme-light) body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo{
  width: 150px;
}


:host-context(.theme-dark) #info
{
  width: 25px;
  height: 25px;
  color: black;
}

:host-context(.theme-light) #info
{
  width: 25px;
  height: 25px;
}

#text_info
{
  font-size: 20px;
  font-weight: lighter;
  font-family: -apple-system;
}

#info_mdp
{
  color: dimgray;
}

.ng-invalid.ng-touched {
  border-color: red;
}


