<table cellpadding="5" border="solid red 3px" width="100%">
  <tr>
    <td>
      <p> Le {{getDescript()[0]}}, {{par}} a aidé {{pour}} !</p>
    </td>
    <td align="right">
      <img class="icone-cat" *ngIf="menage" src="../../assets/data/menage.png">
      <img class="icone-cat" *ngIf="accompagnement" src="../../assets/data/accompagner.png">
      <img class="icone-cat" *ngIf="cuisine" src="../../assets/data/cuisine.png">
      <img class="icone-cat" *ngIf="course" src="../../assets/data/cuisine.png">
    </td>
  </tr>
</table>
