<table cellpadding="5" width="100%">
  <tr>
    <td>
      <mat-toolbar color="blue" style="width: 60%">
        <mat-toolbar-row>
          Participants
        </mat-toolbar-row>
        <mat-toolbar-row *ngFor="let participant of participants">
          <span>{{idToNames[participant]}}</span>
          <span class="toolbarSpacer"></span>
          <mat-icon (click)="goToProfil(participant)"> face </mat-icon>
          <mat-icon (click)="idToShowReview[participant]=true; getReview(participant);"> library_add_check </mat-icon>
          <span *ngIf="idToShowReview[participant]">{{idToReviews[participant].comment}}</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </td>
    <td align="right">
      <p>{{datepipe.transform(date, 'yyyy/MM/dd')}}</p>
      <img class="icone-cat" [src]="imgSrc">
    </td>
  </tr>
  <tr>
    <td>
      <p class="formerServP">
        <span *ngIf="helperLook">{{pour}}</span>
        <span *ngIf="!helperLook">{{par}}</span>
        a attribué une note de {{note}}/5
        <img id="starIcon" src="../../assets/data/star.png">
      </p>
    </td>
  </tr>
  <tr>
    <td align="left">
      <img height="50px" width="50px" src="../../assets/data/double_cote.png">
    </td>
    <td align="right">
      <img height="50px" width="50px" src="../../assets/data/double_cote.png">
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p id="commentParagraph" class="formerServP">
        {{commentaire}}
      </p>
    </td>
  </tr>
</table>
