<div id="profilMain">

  <table cellpadding="50" id="profilHead">

    <tr style="width: 300px">
      <td>
        <div id="picAndName">
          <p class="user_identifier">
            {{this.fname}} {{this.lname}}<br>
            <img src="../../assets/data/pdp-test.jpg" id="myProfilPic">

            <span>À propos </span>
            <span>{{bio}}</span>
          </p>
        </div>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <h4 id="nivTitle">Progression</h4>
        <app-niveau></app-niveau>
      </td>
      <td>
        <app-services-experience></app-services-experience>
      </td>
    </tr>
  </table>
</div>
