#myProfilEssentials
{
  height: 100%;
  margin-left: 3%;
  text-align: top left;
}

#myProfilPic
{
  height: 300px;
  border: 5px #8f2812 solid;
}

.user_identifier
{
  font-size: 30px;
}

#aPropos
{
  text-align: top right;
}

app-services-experience
{
  text-align: left;
}

#nivTitle
{
  text-align: center;
}

#profilHead
{
  border: solid white 10px;
  width:100%;
}

