:host-context(.theme-dark) #profilMain{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  background-color: #2e2e2e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host-context(.theme-light) #profilMain {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card{
  width : 51rem;

  box-shadow: 1px 1px 1px #aaa;
}

.lignesEspaces{
  border-collapse : separate;
  border-spacing : 15px;
}

#titre{
  font-size: larger;
}

#myProfilEssentials
{
  height: 100%;
  margin-left: 3%;
  text-align: top left;
}

#profil-pic
{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-image: url("../../assets/data/photo_undefined.png");
  background-size: cover;
}

:host-context(.theme-light) .card{
  background-color: white;
}

:host-context(.theme-dark) .card{
  background-color: grey;
}

.user_identifier
{
  font-size: 30px;
}

#aPropos
{
  margin-top: 30px;
}

#progress-img
{
  width: 500px;
  height: auto;
}

app-services-experience
{
  text-align: left;
}

#nivTitle
{
  text-align: center;
}

#profilHead
{
  width:100%;
}

#experience-wrapper
{
  padding-top: 50px;
  margin-left: 10%;
  margin-right: auto;
}

#rating-img
{
  height: 150px;
  width: auto;
}
