#myProfilEssentials
{
  height: 100%;
  margin-left: 3%;
  text-align: top left;
}

#myProfilPic
{
  height: 300px;
  border: 5px #8f2812 solid;
}

.user_identifier
{
  font-size: 30px;
}

#aPropos
{
  margin-top: 30px;
}

app-services-experience
{
  text-align: left;
}

#nivTitle
{
  text-align: center;
}

#profilHead
{
  width:100%;
}

#experience-wrapper
{
  padding-top: 50px;
  margin-left: 10%;
  margin-right: auto;
}
