#globalNavbar
{
  width: 100%;
}

#logo
{
  width: 150px;
}
#who{
  color: #ededed;
  font-weight: bold;
  font-size: 25px;
}
#roundProfilPic
{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-size: cover;
}

#roundNotifIcon
{
  position: absolute;
  top:20px;
  left: 250px;
  text-align: center;
  color: white;
  min-width: 20px;
  border-radius: 10%;
  background-color: red;
  z-index: 2;
}

.roundNotifIcon
{
  position: absolute;
  top:20px;
  left: 250px;
  text-align: center;
  color: white;
  min-width: 20px;
  border-radius: 10%;
  background-color: red;
  z-index: 2;
}


.backdropClass
{
  opacity: unset;
}
