<nav class="navbar navbar-dark bg-dark" id="globalNavbar">
  <table align="left" id="left_side" cellpadding="10">
    <tr>
      <td>
        <img src="../assets/data/logo2.png" alt="ineed" id="logo" routerLink="" style="cursor:pointer">
      </td>
        <!--
        <button routerLink="profil" class="btn btn-outline-light" type="menu" *ngIf="this.authService.isAuthenticated()" aria-haspopup="true" aria-expanded="true">
          Profil
        </button>
        -->
      <td>
        <div id="roundProfilPic" routerLink="profil"></div>
        <ul *ngIf="this.showProfilMenu">
          <li>Mes infos</li>
          <li>Mes notifs</li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{this.userService.getInitials()}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="profil">Mon profil</a>
            <a class="dropdown-item" routerLink="mes-infos">Modifier mes infos</a>
            <a class="dropdown-item" routerLink="notifications">Mes notifications</a>
          </div>
        </div>
      </td>
      <td>
        <p style="color:white">route : {{path}} ; hasUrl : <span *ngIf="hasUrl">true</span> </p>
      </td>
      <td>

      </td>
    </tr>
  </table>
  <table align="right" id="buttons_connection" cellpadding="5">
    <tr>

      <td>
        <button routerLink="auth" *ngIf="!this.authService.isAuthenticated()" class="btn btn-outline-success" type="button">Se connecter
        </button>
      </td>
      <td>
        <button routerLink="inscription" *ngIf="!this.authService.isAuthenticated()" class="btn btn-outline-light" type="button">S'inscrire
        </button>
      </td>
      <td>
        <button (click)="this.authService.removeUserInfo()" *ngIf="this.authService.isAuthenticated()" class="btn btn-outline-danger" type="button">Se déconnecter
        </button>
      </td>
      <td>
        <button routerLink="contact" class="btn btn-outline-secondary" type="button">Contact</button>
      </td>
    </tr>
  </table>
</nav>
