#logo
{
  width: 150px;
}

#roundProfilPic
{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-image: url("../../assets/data/photo_undefined.png");
  background-size: cover;
}

#roundNotifIcon
{
  position: absolute;
  top: 20px;
  left: 250px;
  text-align: center;
  color: white;
  min-width: 20px;
  border-radius: 10%;
  background-color: red;
}

.backdropClass
{
  opacity: unset;
}
