<div class="card mb-3 rounded-lg rounded-lg" style="width:100%;">
<div class="row no-gutters">
  <div class="col-md-2">
    <img [src]="image" class="card-img-top" alt="...">
  </div>
  <div class="col-md-10">
    <div class="card-body">
      <div class="text-left">
        <h2 class="card-title">{{type}} pour {{name}}
        </h2>

      </div>

      <div class="row no-gutters">
        <div class="col-md-10">
          <div class="text-right">
            <button  class="btn btn-secondary" (click)="router.navigate(['review/'+id])">Évaluer</button>

          </div>
        </div>
      </div>
      <table>
        <tr>
          <!-- STATUS -->
          <td align="left">

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
