<div id="infoContainer">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <table align="center">

        <div class="col-sm-8 col-sm-offset-2">

          <form (ngSubmit)="onSubmitNewInfos(f); onSubmitNewPicture(f);" #f="ngForm">


            <div class="form-group">

              <!-- ##################### Prénom ####################-->
              <div class="jumbotron" id="formulaire">
                <label for="firstName">Votre prénom</label>
                <input type="text" class="form-control" id="firstName" name="firstName"
                       ngModel>
                <span class="current-info-indicator">{{this.info_user.firstName}}</span>
              </div>

              <!-- ##################### Nom ####################-->
              <div class="jumbotron" id="formulaire">
                <label for="lastName">Votre nom</label>
                <input type="text" class="form-control" id="lastName" name="lastName"
                       ngModel>
                <span class="current-info-indicator">{{this.info_user.lastName}}</span>
              </div>

              <!-- ##################### MAIL ####################
              <div class="jumbotron" id="formulaire">
                <label for="mail">Votre email</label>
                <input type="text" class="form-control" id="mail" name="mail"
                       ngModel>
                <span class="current-info-indicator">{{this.email}}</span>
              </div>
-->
              <!-- ##################### BIO ####################-->
              <div class="jumbotron" id="formulaire">
                <table width="100%">
                  <td>
                    <label for="bio">Votre bio</label>
                  </td>
                  <td align="right">
                    <span style="cursor:pointer" id="info" class="badge badge-pill badge-secondary"
                          ngbPopover="150 caractères maximum"
                          triggers="mouseenter:mouseleave"
                          popoverTitle="Limite" placement="right">
                      <p id="text_info">?</p>
                    </span>
                  </td>
                </table>

                <input type="text" class="form-control" id="bio" name="bio" maxlength="150"
                       ngModel>
                <span *ngIf="this.bio!=null" class="current-info-indicator">{{this.bio}}</span>
                <span *ngIf="this.bio==null" class="current-info-indicator">Décriver vous en quelques lignes</span>
              </div>

              <!-- ##################### PDP ####################-->

              <div class="jumbotron" id="formulaire">
                <label for="profil-pic">
                  <span *ngIf="this.notifs.profilPic == ''">Votre photo de profil</span>
                  <span style="color: red" *ngIf="this.notifs.profilPic != ''">{{this.notifs.profilPic}}</span>
                </label>
                <input type="file" class="form-control" id="profil-pic" name="profil-pic"
                       (change)="onFileSelected($event)"
                       ngModel>
                <img [src]="'data:image/png;base64,' + this.undefinedPic" alt="profil-pic">
                <span>(en dur)</span>
              </div>
              <button style="margin-left: 330px" class="btn btn-primary" type="submit">Valider</button>
            </div>
          </form>
        </div>
      </table>
    </div>
  </div>
</div>
<div id="infoHeader">
  <mat-toolbar color="#ffffff" id="infoToolbar">
    <mat-toolbar-row>
      <span>Modifiez vos informations</span>
      <span class="spacer"></span>
      <mat-icon class="icon" (click)="f.reset()" title="vider le formulaire">restore_page</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!-------------------------------- MOT DE PASSE------------------------->

<div id="mdpContainer" *ngIf="changePassword">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <table align="center">

        <div class="col-sm-8 col-sm-offset-2">

          <form (ngSubmit)="onSubmitNewPassword(f)" #f="ngForm">


            <!-- ##################### Former ####################-->
            <div class="form-group">
              <div class="jumbotron" id="formulaire" style="width: 400px">
                <label for="formerPassword">Mot de passe actuel</label>
                <input type="password" class="form-control" id="formerPassword" name="formerPassword"
                       ngModel>
              </div>

              <!-- ##################### New ####################-->
              <div class="jumbotron" id="formulaire" style="width: 400px">
                <table>
                  <td><label for="newPassword">Entrez votre nouveau mot de passe</label></td>
                  <td> <!--#POPOVER INFO MDP#-->
                    <span style="cursor:pointer" id="info" class="badge badge-pill badge-secondary" ngbPopover="Votre
                mot de passe doit faire au moins 6 caractères. Utilisez des lettres majuscules et minuscules, des chiffres
                 ou encore descaractères spéciaux pour rendre votre mot de passe plus sûr."
                          triggers="mouseenter:mouseleave"
                          popoverTitle="Un mot de passe c'est important !" placement="right">
                  <p id="text_info">?</p></span>
                  </td>
                </table>
                <input type="password" class="form-control" id="newPassword" name="newPassword"
                       (change)="passwordComplexity(f.value['newPassword'])"
                       ngModel>

                <i>
                  <p *ngIf="small_password" style="color:gray">Votre mot de passe doit faire au moins 6 caractères.</p>
                </i>
                <span *ngIf="bad_password" class="badge badge-pill badge-danger">Votre mot de passe est faible.</span>
                <span *ngIf="medium_password"
                      class="badge badge-pill badge-warning">Votre mot de passe est correct.</span>
                <span *ngIf="strong_password" class="badge badge-pill badge-success">Votre mot de passe est fort.</span>
              </div>

              <!-- NEW CONFIRMER -->
              <div class="jumbotron" id="formulaire" style="width: 400px">
                <label for="confirm_password">Confirmez votre mot de passe <span style="color:red">*</span></label>
                <input class="form-control" type="password" id="confirm_password" name="confirm_password"
                       (change)="quickCheckPassword(f)" ngModel required>
                <i><strong><span *ngIf="same_password == false"
                                 style="color:red">Les mots de passe ne sont pas identiques.</span></strong></i>
              </div>
              <div (click)="showStatus()">Show status</div>
              <button style="margin-left: 330px" class="btn btn-primary" type="submit" [disabled]="(!same_password) || small_password">Valider</button>
            </div>
          </form>
        </div>
      </table>
    </div>
  </div>
</div>

<div id="showMdpContainer">
  <mat-toolbar color="#ffffff" id="changePassword">
    <mat-toolbar-row>
      <span>Changez votre mot de passe</span>
      <span class="spacer"></span>
      <mat-icon (click)="changePassword=true" *ngIf="!changePassword" class="icon"> menu</mat-icon>
      <mat-icon (click)="changePassword=false" *ngIf="changePassword" class="icon"> menu_open</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

