#settingsContainer /*contains all html elems*/
{
  width: 100%;
}

#form{
  margin: 0 auto;
}

#formulaire{
  background-color: #ededed;
  box-shadow: 1px 1px 5px #c0c0c0;
  /*width: 800px;*/
  width: 140%;
  height: auto;
}

.current-info-indicator
{
  color: #3f77dc;
}

#infoContainer
{
  /*new*/
  width: 40%;
  /**/
  position: absolute;
  /*top: 200px;
  left: 200px;*/
  top: 30%;
  left: 10%;
}

#infoHeader
{
  /*new*/
  width: 40%;
  /**/
  position: absolute;
  /*top: 200px;
  left: 200px;*/
  top: 30%;
  left: 10%;
}

#infoToolbar
{
  height: 50px;
  /*width: 860px;*/
  width: 100%;
}
#mdpContainer
{
  /*width: 460px;*/
  width: 30%;
  height: auto;
  position: absolute;
  /*top: 200px;
  left: 1200px;*/
  top: 30%;
  left: 60%;
}

#showMdpContainer
{
  /*new*/
  width: 30%;
  /**/
  position: absolute;
  /*top: 200px;
  left: 1200px;*/
  top: 30%;
  left: 60%;
}
#info
{
  width: 25px;
  height: 25px;
}

#text_info
{
  font-size: 20px;
  font-weight: lighter;
  font-family: -apple-system;
}

#changePassword
{
  /*width: 460px;*/
  width: 100%;
  height: 50px;
}

.spacer
{
  flex: 1 1 auto;
  z-index: 10;
}

.icon
{
  cursor: pointer;
}
/*
#showMdpContainer
{
  position: absolute;
  top: 200px;
  left: 1200px;
  top: 30%;
  left: 10%;
}
 */

#compress
{
  position: absolute;
  top: 500px;
  left: 1500px;
}

#pdpPrint
{
  height: 200px;
  width: auto;
}
