#form{
  margin: 0 auto;
}
#formulaire{
  background-color: #ededed;
  box-shadow: 1px 1px 5px #c0c0c0;
  width: 800px;
  height: auto;
}

.current-info-indicator
{
  color: #3f77dc;
}

#infoContainer
{
  position: absolute;
  top: 200px;
  left: 200px;
}

#mdpContainer
{
  width: 460px;
  height: auto;
  position: absolute;
  top: 200px;
  left: 1200px;
}

#showMdpContainer
{
  position: absolute;
  top: 200px;
  left: 1200px;
}
#info
{
  width: 25px;
  height: 25px;
}

#text_info
{
  font-size: 20px;
  font-weight: lighter;
  font-family: -apple-system;
}
