<table width="100%" cellpadding="3">
  <tr>
    <td>
      <div *ngIf="numberOfProfilNotif>0" [@reduce]="stateReduce" id="notifIcon" (click)="goThenClose('profil/'+ getUserId())">
        {{numberOfProfilNotif}}
      </div>
    </td>
    <td align="center">

      <button [@extend]="stateExtend"style="width: 150px" *ngIf="!(numberOfProfilNotif>0)" type="button" class="btn btn-outline-light" (click)="this.goThenClose('profil/'+getUserId())">Mon profil</button>
      <button [@extend]="stateExtend" *ngIf="numberOfProfilNotif>0" type="button" class="btn btn-light" (click)="this.goThenClose('profil/'+getUserId())">Mon profil</button>

      <!--<button type="button" class="btn btn-dark" (click)="myProfil()">Mon profil</button> -->

      <br>
      <!--  <button type="button" class="btn btn-dark" (click)="myProfil()" >Mon profil</button><br> -->
    </td>
  </tr>
  <tr>
    <td>
      <p> </p>
    </td>
  </tr>
  <tr>
    <td>
      <div *ngIf="numberOfInfoNotif>0" [@reduce]="stateReduce" id="notifIcon" (click)="goThenClose('mes-infos')">
        {{numberOfInfoNotif}}
      </div>
    </td>
    <td align="center">
     <!-- <button type="button"
              [ngClass]="this.hasInfoNotif? 'btn btn-light':'btn btn-outline-light'"
              (click)="this.goThenClose('mes-infos')">Mes infos</button> -->
      <button [@extend]="stateExtend" style="width: 150px" type="button" class="btn btn-outline-light" *ngIf="!(numberOfInfoNotif>0)" (click)="this.goThenClose('mes-infos')">Mes infos</button>
      <button [@extend]="stateExtend" type="button" class="btn btn-light" *ngIf="numberOfInfoNotif>0" (click)="this.goThenClose('mes-infos')">Mes infos</button>
      <!--<button type="button"
              [ngClass]="{
                  'btn': true,
                  'btn-outline-light': !hasInfoNotif,
                  'btn-light': hasInfoNotif
                   }"
              (click)="this.goThenClose('mes-infos')">Mes infos
      </button>-->
      <br>
    </td>
  </tr>
  <tr>
    <td>
      <p> </p>
    </td>
  </tr>
  <tr>
    <td>
      <div *ngIf="numberOfActivityNotif>0" [@reduce]="stateReduce" id="notifIcon" (click)="goThenClose('activite')" title="En savoir plus">
        {{numberOfActivityNotif}}
      </div>
    </td>
    <td align="center">
      <button [@extend]="stateExtend" style="width: 150px" *ngIf="!(numberOfActivityNotif>0)" type="button" class="btn btn-outline-light" (click)="this.goThenClose('activite')">Mon activité</button>
      <button [@extend]="stateExtend" *ngIf="numberOfActivityNotif>0" type="button" class="btn btn-light" (click)="this.goThenClose('activite')" >Mon activité</button>
    </td>
  </tr>
  <tr>
    <td>
      <p> </p>
    </td>
  </tr>
  <tr *ngIf="isLoading">
    <td>
      <mat-spinner color="warn" diameter="30"></mat-spinner>
    </td>
    <td>
      <span id="loadingText">Checking</span>
    </td>
  </tr>
</table>
