#notifIcon
{
  text-align: center;
  color: white;
  min-width: 20px;
  border-radius: 10%;
  background-color: red;
  cursor: pointer;
}

#loadingText
{
  margin-left: 15px;
  font-size: large;
  font-weight: bold;
}
