
    <div class="card mb-3 rounded-lg rounded-lg" style="width: 300 px;">
      <div class="row no-gutters">
          <div class="col-md-2">
            <img [src]="serviceImage"  class="card-img-top" alt="...">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <div class="text-left">
            <h2 class="card-title">{{serviceName}} pour {{serviceUser}}</h2>
            <p class="card-text">Description: {{serviceDescription}}</p>
          </div>
          <div class="row no-gutters">
            <div class="col-md-2">
              <div class="text-left">
                <p class="card-text"><small class="text-muted">Pour le :{{serviceDate}}</small></p>
              </div>
            </div> 
          <div class="col-md-10">
              <div class="text-right">
                <a href="#" class="btn btn-primary"[routerLink]="[id]" >Voir l'annonce</a>
              </div>
              <div class="text-right">
                <a type="button"  class="btn btn-primary" (click)="maps()">Map</a>
                <div *ngIf="map"> <app-mini-map [latitude]="this.latitude" [longitude]="this.longitude" ></app-mini-map></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
