<!-- BANDEAUX D'INFORMATIONS -->
<div *ngIf="applied" class="alert alert-dismissable alert-success">
  <table align="center">
    Votre demande d'aide a bien été envoyé à <b>{{User}}</b>, attendez son acceptation.
  </table>
</div>

<div *ngIf="myService" class="alert alert-dismissable alert-warning">
  <table align="center">
    Il s'agit de <b>votre annonce</b>. <button class="btn btn-warning" (click)="router.navigate(['activite'])">
    Voir</button>
  </table>
</div>
<!-- ----------------------------------------- -->
<br>
<div class="main-body">
<table align="center">
  <tr><h1 class="display-4" align="center">{{User}} a besoin de toi</h1>
  </tr>
  <tr>
    <button type="button" class="btn btn-info" (click)="goProfil('profil/'+this.service_descriptor.idUser)">
      Voir le profil</button>
    <!-- <button type="button" class="btn btn-info" (click)="goProfil()">Voir le profil</button> -->

  </tr>
</table>



<!-- #####ANNONCE##### -->

<div id="jumb" class="jumbotron jumbotron-fluid">
  <div class="container">
    <table align="center" cellpadding="20">

      <tr>
        <td><h2>Service : </h2></td>
        <td>Cuisine</td>
      </tr>
      <tr>
        <td><h2>Type de plat</h2></td>
        <td>{{Type_de_plat}}</td>


      <tr>
        <td><h2>A faire chez lui ?</h2></td>
        <td>{{Sur_place}}</td>
      </tr>
      <tr>
        <td><h2>Ville: </h2></td>
        <td>{{City}}</td>
      </tr>

      <tr>
        <td><h2>Quand ?</h2></td>
        <td>{{DispoJour}} à {{DispoHeure}}</td>
      </tr>
      <tr>
        <td><h2>Commentaire : </h2>{{Description}}</td>
      </tr>
    </table>

    <!-- ###FOOTER ANNONCE### -->
    <div class="text-right">
      <a  class="btn btn-primary" routerLink="/propose">Retour à la liste</a>
    </div>
  </div>

  <!-- ###PROPOSER SON AIDE### -->
  <table align="center">
    <tr>
      <button *ngIf="!applied" id="button_rendre" type="button" class="btn btn-warning" (click)="applyCuisine()">
        <p style="font-size: larger">Aider {{User}} !</p></button>

      <button *ngIf="applied" [disabled]="true" id="button_rendre" type="button" class="btn btn-warning" (click)="applyCuisine()">
        <p style="font-size: larger">Vous avez proposé votre aide.</p>
      </button>
    </tr>
    <tr>

      <!--#####NOMBRES DE VUES####-->
      <div id="view" style="position: absolute;left: 500px;">
        <td>
          <img style="width:50px" id="viewPic" src="../../assets/data/view.png" alt="">
        </td>
        <td><span style="font-size: 25px">{{View}}</span></td>
      </div>
    </tr>
  </table>



</div>




</div>

